.DS_Store
.vercel/
.emsdk/
dist/

engine/*.o
engine/togyzkumalak_engine
billion-game-generation/*.o
billion-game-generation/generate_billion_games
shortest-game-generation/*.o
shortest-game-generation/find_shortest_game
